<div class="skill-section">
    <p>
      Highly skilled in front-end development and equipped with a strong understanding of web design principles and cybersecurity fundamentals. These certifications and skills demonstrate a commitment to continuous learning and professional growth.
    </p>
    <ul>
      <li>HTML, CSS, JavaScript - Proficient in creating responsive and dynamic web pages</li>
      <li>Responsive Web Design - Expertise in building mobile-first and adaptive designs</li>
      <li>Cybersecurity Basics - Knowledge of security principles and practices to protect data and systems</li>
      <li>Linux Fundamentals - Experience in navigating and troubleshooting Linux environments</li>
      <li>Prototyping in Figma - Skilled in designing interactive prototypes and wireframes for user interfaces</li>
    </ul>
  </div>