<section class="py-10 bg-black">
    <div class="container mx-auto px-4">
      <h3 class="text-2xl md:text-3xl font-bold text-white mb-6 text-center">
        Movie Reviews Gallery
      </h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">        
        <div class="bg-black rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <img
            [src]="Moana"
            alt="Moana 2"
            class="rounded-t-lg w-full"
          />
          <div class="p-4 space-y-2">
            <h4 class="font-semibold text-lg text-white">Moana 2</h4>
            <p class="text-gray-400 text-sm md:text-base">
              Disney Animation Studios' epic animated musical Moana 2 takes audiences on an expansive new voyage.
            </p>
            <a
              href="#"
              class="text-yellow-500 hover:underline font-semibold"
              >Read Review</a
            >
          </div>
        </div>
        <div class="bg-black rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <img
            [src]="OLS"
            alt="Our Little Secret"
            class="rounded-t-lg w-full"
          />
          <div class="p-4 space-y-2">
            <h4 class="font-semibold text-lg text-white">Our Little Secret</h4>
            <p class="text-gray-400 text-sm md:text-base">
              Be ready to be embraced! Can you be with someone you used to love? Find out more here.
            </p>
            <a
              href="#"
              class="text-yellow-500 hover:underline font-semibold"
              >Read Review</a
            >
          </div>
        </div>
        <div class="bg-black rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <img
            [src]="Nightbitch"
            alt="Nightbitch"
            class="rounded-t-lg w-full"
          />
          <div class="p-4 space-y-2">
            <h4 class="font-semibold text-lg text-white">Nightbitch</h4>
            <p class="text-gray-400 text-sm md:text-base">
              Amy Adams shines as she embarks on a surreal journey of transformation.
            </p>
            <a
              href="#"
              class="text-yellow-500 hover:underline font-semibold"
              >Read Review</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  