<div class="training-section">
  <p>
    Completed a series of technical training courses to enhance my skills in networking, cybersecurity, and web development. These courses helped me build a solid foundation for applying industry best practices in real-world scenarios.
  </p>
  <ul>
    <li>Introduction to Networks v7.02 (ITN): Information Assurance & Security</li>
    <li>Introduction to Cybersecurity</li>
    <li>Responsive Web Design: FreeCodeCamp.org</li>
    <li>Legacy JavaScript Algorithms and Data Structures: FreeCodeCamp</li>
    <li>Individual Work: TryHackMe Linux Fundamentals</li>
    <li>Prototypes in Figma: Creating an Initial Low Fidelity Design</li>
  </ul>
  <app-skill></app-skill>
</div>